* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #B8C6D9;
    color: #000;
}

header {
    background-color: #637AA6;
    color: #fff;
}

header .container {
    padding: 40px 20px;
}

header .container h3 {
    padding-left: 20px;
    font-weight: 900;
}

main .container {
    width: 90%;
    margin: 0 auto;
}

.secao01,
.secao02 {
    display: flex;
    flex-direction: row;
}

.container-texto {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
    width: 50%;
    margin: 20px auto 0 auto;
    text-align: center;
}

.container-texto .sobre,
.container-jogador .inputs {
    margin-top: 35px;
}

.container-game .jogo {
    margin-top: 10px;
}

.container-texto p {
    font-weight: 600;
}

.regras {
    margin-top: 50px;
}

.container-jogador {
    text-align: center;
    width: 50%;
    display: flex;
    flex-direction: column;
    font-weight: 600;
    padding: 20px 0px 50px 0px;
    margin: 50px auto 0 auto;
}

.container-jogador .button {
    margin-top: 15px;
}

.container-jogador .button a {
    background-color: #fff;
    font-size: 10px;
    padding: 5px 10px;
    font-weight: 900;
    cursor: pointer;
    border: 1px solid #000;
}

.container-jogador .button a:hover {
    background-color: #ffffff62;
}

.container-jogador input {
    font-size: 12px;
    text-align: center;
    margin: 0 auto;
    width: 70%;
    margin-top: 5px;
    padding: 5px 10px;
}

.container-game {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    margin-top: 30px;
}

.container-tabela {
    text-align: center;
    font-weight: 600;
    width: 50%;
    margin: 0 auto;
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-inputs {
    text-align: center;
    font-weight: 600;
    width: 50%;
    margin: 0 auto 5vw auto;
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-inputs input {
    font-size: 12px;
    width: 40%;
    text-align: center;
    padding: 5px 10px;
    margin-top: 20px;
}

.container-inputs .button {
    margin-top: 20px;
}

.container-inputs .button a {
    background-color: #fff;
    font-size: 10px;
    padding: 5px 15px;
    font-weight: 900;
    cursor: pointer;
    border: 1px solid #000;
    text-decoration: none;
    color: #000;
}

.container-inputs .button a:hover {
    background-color: #ffffff62;
}

.container-jogadores {
    margin-top: 20px;
    text-align: center;
}

#resultado {
    margin-top: 30px;
}

#tentativas {
    margin-top: 20px;
}

table {
    margin: 0 auto;
    width: 100%;
    border: 2px solid #000;
    border-collapse: collapse;
}

th,
tr,
td {
    border: 1px solid #000;
}

td button {
    padding: 5px;
    margin: 5px 10px;
    font-weight: 900;
}